<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <h2>Davomat</h2>
    <h2>Time {{time}}</h2>
    <hr>
    <table border="3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            {% for davomats in davomat %}
              <tr>
                  <th>{{forloop.counter}}</th>
                  <th>{{davomats.name}}</th>
                  <th>{{davomats.date}}</th>
                  <th>
                    <form action="{% url 'delete_davomat' davomats.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </th>
              </tr>
            {% endfor %}
        </tfoot>
    </table>

    <br>
    <hr>
   
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Back</button>
    </form>
</body>
</html>